{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/tourn.css' %}">
</head>

{% csrf_token %}
<body>
<div id="trn">
<h3>Welcome in tournament <span class='cg'>{{trn_name}}</span></h3>
<div class='container'>
    {% for player in players %}
        <div class="data">
            <img src='{{player.profile.image.url}}' alt="No image" width=140  class="player_img">
            <h3>{{player.profile.user.username}}</h3>
        </div>
    {% endfor %}
    {% for i in range %}
    <div class="data">
        <img src="{% static 'images/unkonu_p.png' %}" alt="No image" width=140  class="player_img">
        <h3>wiating player...</h3>
    </div>
    {% endfor %}
    </div>
<script>
    function updatePlayer(data, socket) {
        const container = document.querySelector('.container');
        container.innerHTML = '';

        data.tourn_players.forEach(player => {
            const playerDiv = document.createElement('div');
            playerDiv.className = 'data';
            
            const img = document.createElement('img');
            img.src = player.image_url;
            img.alt = 'No image';
            img.width = 140;
            img.className = 'player_img';
            
            const h3 = document.createElement('h3');
            h3.textContent = player.username;
            
            playerDiv.appendChild(img);
            playerDiv.appendChild(h3);
            container.appendChild(playerDiv);
        });

        data.range.forEach(() => {
            const waitingDiv = document.createElement('div');
            waitingDiv.className = 'data';
            
            const img = document.createElement('img');
            img.src = "{% static 'images/unkonu_p.png' %}";
            img.alt = 'No image';
            img.width = 140;
            img.className = 'player_img';
            
            const h3 = document.createElement('h3');
            h3.textContent = 'waiting player...';
            
            waitingDiv.appendChild(img);
            waitingDiv.appendChild(h3);
            container.appendChild(waitingDiv);
        });
        
        
        
        
    
    }
    async function display_matche(data){
        refresh = data.refresh
        matche = data.matche;
        m_res = data.m_res;
        console.log(data);
        
        const container = document.querySelector('.container');
        container.innerHTML = '';
        
        if (m_res == 'lose'){
            const losediv = document.createElement('div');
            const lose_msg = document.createElement('h1');
            lose_msg.textContent = 'YOU LOSE';
            losediv.className = 'count';
            losediv.appendChild(lose_msg);
            container.appendChild(losediv);
            return;
        }
        const matchediv = document.createElement('div');
        matchediv.className = 'matche';

        const p1_div = document.createElement('div');
        p1_div.className = 'player1';

        const p1_img = document.createElement('img');
        p1_img.src = matche.p1_image_url;
        p1_img.alt = 'No imge';
        p1_img.width = 140;
        p1_img.className = 'player_img';

        const p1_h3 = document.createElement('h3');
        p1_h3.textContent = matche.p1_username;

        p1_div.appendChild(p1_img);
        p1_div.appendChild(p1_h3);
        matchediv.appendChild(p1_div);
        
        const p2_div = document.createElement('div');
        p2_div.className = 'player2';

        
        const p2_img = document.createElement('img');
        p2_img.src = matche.p2_image_url;
        p2_img.alt = 'No imge';
        p2_img.width = 140;
        p2_img.className = 'player_img';
        
        const p2_h3 = document.createElement('h3');
        p2_h3.textContent = matche.p2_username;
        
        p2_div.appendChild(p2_img);
        p2_div.appendChild(p2_h3);
        matchediv.appendChild(p2_div);
        container.appendChild(matchediv);
        if (refresh == 'true'){

            console.log('aaaaaa');
            const count = document.createElement('div');
            count.className = 'count';
            const h_1 = document.createElement('h1');
            h_1.textContent = 3;
            count.appendChild(h_1);
            matchediv.appendChild(count);
            await sleep(1);
            h_1.textContent = 2;
            count.appendChild(h_1);
            await sleep(1);
            h_1.textContent = 1;
            count.appendChild(h_1);
            await sleep(1);
            h_1.textContent = '';
            count.appendChild(h_1);
            console.log('bbbbbb');
            
            const message = {
                'type': 'play_matche',
            };
            socket.send(JSON.stringify(message));
        }
    }
    
    // Establish WebSocket connection
    const socket = new WebSocket('ws://' + window.location.host + '/ws/tourn/');

    function sleep(s) {
        return new Promise(resolve => setTimeout(resolve, s*1000));
    }
    
    console.log('HELLOW!!')
    // Listen for messages from the WebSocket
    socket.onmessage = function(event) {
        const data = JSON.parse(event.data);
        if (data.type == 'tourn')
            updatePlayer(data, socket);
        if (data.type == 'matche')
            display_matche(data, socket);

    };

    // Handle WebSocket errors
    socket.onerror = function(error) {
        console.error('WebSocket error: ', error);
    };

    window.onbeforeunload = function() {
        console.log('CLOSE')
        socket.close();
    };
</script>
</div>
</body>

{% endblock content %}